<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iEat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>798E339C1CE731DF00BDB43A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>798E33B81CE731DF00BDB43A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>798E33C31CE731DF00BDB43A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
